---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Linktree</title>
	</head>
	<body class="bg-gradient-to-t from-blue-900 to-blue-400">
		<main
			class="max-w-sm w-screen h-screen bg-transparent shadow-2xl mx-auto flex flex-col items-stretch px-5 py-20"
		>
			<div class="w-[170px] h-[170px] self-center">
				<img
					class="w-full h-full rounded-full ring-4 ring-white"
					src="https://images.unsplash.com/photo-1635107510862-53886e926b74?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHByb2ZpbGUlMjBwaWN0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
					alt="gambar"
					srcset=""
				/>
			</div>

			<h2 class="font-bold text-white text-center mt-5">
				Gusti Putu Mahendra Putra
			</h2>
			<p class="font-thin text-white text-center">
				<span class="font-bold text-yellow-500 italic">CS Student</span>
				- Trying To Be Web Developer
			</p>

			<ul class="mt-10">
				<li class="flex space-x-4">
					<div
						class="kotak w-1/2 bg-transparent font-semibold text-white text-center py-3 rounded-xl ring-2 ring-white hover:bg-white hover:text-blue-500 hover:duration-200"
					>
						<a href="#">Github</a>
					</div>
					<div
						class="kotak w-1/2 bg-transparent font-semibold text-white text-center py-3 rounded-xl ring-2 ring-white hover:bg-white hover:text-blue-500 hover:duration-200"
					>
						<a href="#">Blog</a>
					</div>
				</li>
				<li class="mt-5">
					<div
						class="kotak w-full bg-transparent font-semibold text-white py-4 text-center rounded-xl ring-2 ring-white hover:bg-white hover:text-blue-500 hover:duration-200"
					>
						<a href="">Portfolio</a>
					</div>
				</li>
			</ul>

			<ul class="mt-10">
				<li class="flex justify-center space-x-3">
					<div
						class="w-[50px] h-[50px] bg-white p-3 rounded-full hover:-translate-y-3 transition duration-200"
					>
						<a href="">
							<img
								src="https://cdn.simpleicons.org/twitter"
								alt=""
							/>
						</a>
					</div>
					<div
						class="w-[50px] h-[50px] bg-white p-3 rounded-full hover:-translate-y-3 hover:duration-200"
					>
						<a href="">
							<img
								src="https://cdn.simpleicons.org/instagram"
								alt=""
							/>
						</a>
					</div>
					<div
						class="w-[50px] h-[50px] bg-white p-3 rounded-full hover:-translate-y-3 hover:duration-200"
					>
						<a href="">
							<img
								src="https://cdn.simpleicons.org/tiktok"
								alt=""
							/>
						</a>
					</div>
				</li>
			</ul>
		</main>
	</body>
</html>
